{{> header}}
<main>
  <h1>Hi there</h1>
  <p>
    My name is Anders Pitman. I'm a data visualization software engineer.
    I'm passionate about exploiting the human visual system to catalyze
    learning. I'm particularly drawn to problems in medicine and education.
  </p>

  <section class='contact-links'>
    <a href="https://github.com/anderspitman">GitHub</a>
    <a href="https://www.linkedin.com/in/anderspitman/">LinkedIn</a>
    <a href="https://twitter.com/anderspitman">Twitter</a>
  </section>
</main>
{{> footer}}
