html {
    font-size: 1.2em;
    /*font-family: Courier New;*/
    font-family: Verdana;
    max-width: 900px;
    margin: 0 auto;
}

nav {
    font-size: 1.4em;
}

pre {
    overflow-x: scroll;
    font-size: 1.2em;
}

.contact-links a {
    display: block;
}

.date {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 20px;
}
