* {
    --bg-color: rgba(20, 20, 20, 1.0);
}

body {
    background-color: var(--bg-color);
}

a {
    color: #DB8A00;
}

.main-content {
    margin: 0 auto;
    font-size: 20px;
    font-family: Courier, monospace;
    max-width: 650px;
    line-height: 1.5;
    color: #ddd;
}

nav {
    font-size: 1.4em;
    font-weight: bold;
    margin-bottom: 20px;
}

pre {
    overflow-x: scroll;
}

.code {
    font-size: 0.8em;
}

.portrait img {
    border-radius: 50%;
}

.portrait {
    width: 30%;
    margin: 0 auto;
}

.contact-links a {
    display: block;
}

.date {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 20px;
}

.blog-post-title {
    font-family: Courier, monospace;
    font-size: 2.0em;
}

.spacer {
    padding-bottom: 128px;
}

#rain-container {
    position: absolute;
    /*height: 100%;*/
    z-index: -1000;
}

.semi-transparent {
    background-color: rgba(20, 20, 20, 0.9);
}
