body {
    margin: 0 auto;
    font-size: 20px;
    font-family: Courier, monospace;
    max-width: 650px;
    line-height: 1.5;
    color: #333;
}

nav {
    font-size: 1.4em;
    font-weight: bold;
    margin-bottom: 20px;
}

pre {
    overflow-x: scroll;
}

.code {
    font-size: 0.8em;
}

.portrait img {
    border-radius: 50%;
}

.portrait {
    width: 30%;
    margin: 0 auto;
}

.contact-links a {
    display: block;
}

.date {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 20px;
}

.blog-post-title {
    font-family: Impact, Courier, monospace;
    font-size: 2.0em;
}
